nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.form-control {
  width: 50%;
}

.row {
  display: flex;
}

.center {
  margin-left: 25%;
  margin-right: 25%;
}

.text-center {
  text-align: center;
}

.text-vertical-center {
  vertical-align: middle;
  line-height: 200px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

.card {
  width: 50%;
  height: 200px;
  margin-bottom: 40px;
  background-color: rgb(39, 39, 39);
  border: 3px solid rgba(255, 174, 0, 0.753);

  &:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
  }
}