nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.container {
  padding: 20px; 

}


.restricted-img {
    max-width: 200px;
    max-height: 200px;
}

.form-control {
  width: 50%;
}


.remove-text {
  color: black;
}

.watchlist-remove-icon:hover {
  color: red; 
  transform: scale(1.2); 
  cursor: pointer;
}

.watchlist-icon:hover {
  transform: scale(2); 
  cursor: pointer;
}
