{% extends "auctions/layout.html" %}

{% block main %}
    <h2>Auction #{{auction.id}}</h2>
    <div>Title: {{auction.title}}</div>
    <div>Description: {{ auction.description }}</div>
    <div>Category: {{auction.category}}</div>
    <div>Current Price: {{ auction.price }}</div>
    <div>{{ auction.image_url }}</div>
    <div>Comments: </div>
    {% for c in comments %}
        <div>{{c.comment}}</div>
    {% empty %}
        <div>No Comments Yet</div>
    {% endfor %}

    {% if user.is_authenticated %}
        <form action="{% url 'auctions:makebid' bid.id auction.id %}" method="POST">
            {% csrf_token %}
            <input type="float" min="{{ bid.bid }}" name="bid" placeholder="Make Your Bid">
            <button type="submit">Bid</button>
        </form>
        <a href="{% url 'auctions:addwishlist' auction.id %}">Add to watchlist</a><!--if it is not already on wishlist-->
        <form action="{% url 'auctions:comment' auction.id %}" method="POST">
            {% csrf_token %}
            {{ commentform.as_p }}
            <br>
            <input class="btn btn-primary" type="submit" value="Comment">
        </form>
    {% endif %}
{% endblock %}