{% extends "auctions/layout.html" %}

{% block title %}Auctions - {{ category.name }}{% endblock %}

{% block main %}
    <div class="container my-4">
        <h1 class="text-center mb-4">Listings in {{ category.name }}</h1>
        {% if listings %}
            <div class="row">
                {% for listing in listings %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            {% if listing.image_url %}
                                <img src="{{ listing.image_url }}" class="card-img-top" alt="{{ listing.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ listing.title }}</h5>
                                <a class="btn btn-success" href="{% url 'auctions:listing' listing.id %}">Bid!</a>
                                <p class="card-text">{{ listing.description }}</p>
                                <p class="card-text">Starting Bid: ${{ listing.starting_bid }}</p>
                                {% if listing.id in watchlist_ids %}
                                    <i class="fa-solid fa-heart watchlist-icon" data-listing-id="{{ listing.id }}"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart watchlist-icon"
                                       data-listing-id="{{ listing.id }}"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No listings available in this category.</p>
        {% endif %}

        <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


        <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>
{% endblock %}
