{% extends "auctions/layout.html" %}

{% block main %}

<h2>Active Listings</h2>
<ul>

<article>
    {% for a in auctions %}
    <section>
        <h4><a href="{% url 'auctions:listing' a.id %}">Auction {{a.id}}: </a></h4>
        <p>Title {{ a.title }}</p>
        <p>Description {{ a.description }} </p>
        <p>Starting Bid {{ a.starting_bid }}</p>
        <p>Image {{ a.image_url }} </p>
        <p>Category {{ a.category }} </p>
    </section>
    {% endfor %}
</article>

</ul>


{% endblock %}