{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>
{% for page in auctions %}
    {% if page.closed == False %}
        <article>
            <div><a href="{% url 'auctions:auction' page.id %}">{{ page.title }}</div>
            <div>Description: {{ page.description }}</div>
            <div>Current Price: {{ page.price }}$</div>
            <div><img src="{{ page.image_url }}" width="200px"></div>
        </article>
    {% else %}
        {% if page.winner == user %}<!--doesnt work-->
            <article>
                <h3>You Won!</h3>
                <div><a href="{% url 'auctions:auction' page.id %}">{{ page.title }}</div>
                <div>Description: {{ page.description }}</div>
                <div>Current Price: {{ page.price }}$</div>
                <div><img src="{{ page.image_url }}" width="200px"></div>
            </article>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}