{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

{% for auction in auctions %}
    {% if auction.closed == False %}
        <article>
            <div>
                <a href="{% url 'auctions:auction' auction.id %}">{{ auction.title}}</a>
            </div>
            <div>{{ auction.description }}</div>
            <div> Current Bid : ${{ auction.current_bid }}</div>
            <div><img src="{{ auction.image_url }}" width="150px"></div>
        </article>
    {% endif %}
{% endfor %}
{% endblock %}