{% extends "auctions/layout.html" %}
{% load static %}
{% block main %}
<h2>{{listing.title}}
    {% if user.is_authenticated and listing.author != user or user.is_superuser %}
        <span id="watchlist_button">
            {% if not is_in_watchlist %}
            <img id="{{listing.id}}" class="add" onclick="watchlist_button_click('{{listing.id}}')" src="{% static 'icons/heart-line.png' %}" data-value="False" data-listing-id="{{listing.id}}" title="Add To Watchlist"></img>
            {% else %}
            <img id="{{listing.id}}" class="remove" onclick="watchlist_button_click('{{listing.id}}')" src="{% static 'icons/heart-fill.png' %}" data-value="True" data-listing-id="{{listing.id}}" title="Remove From Watchlist"></img>
            {% endif %}
        </span>
    {% endif %}
</h2>

<script>
    function watchlist_button_click(listingId)
        {
            var btn = document.getElementById(listingId);
            console.log(listingId);
            fetch('../watchlist_add_or_remove/' + btn.dataset.listingId);
            
            // Add listing to watchlist
            if (btn.dataset.value === "False")
            {
                btn.dataset.value = "True";
                btn.src = "{% static 'icons/heart-fill.png' %}";
                btn.className = "remove";
            }
            // Remove listing from watchlist
            else
            {
                btn.dataset.value = "False";
                btn.src = "{% static 'icons/heart-line.png' %}"
                btn.className = "add";
            }
        }
</script>

<div class="row">
    {% if listing.author == user or user.is_superuser %}
    <div class="close_listing">
        {% if user.is_superuser %}
        <form action="{% url 'remove_listing' listing.id %}" method="GET">
            <div>
                <input name="remove_listing" class="button-delete" type="submit" value="Remove Listing"/>
            </div>
        </form>
        {% endif %}
        {% if listing.author == user and listing.is_active == True %}
        <form class="float-right" action="{% url 'close_listing' listing.id %}" method="GET">
            <div>
                <input name="close_listing" class="button-close" type="submit" value="Close Listing"/>
            </div>
        </form>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="row horizontal-space-evenly mt-50">
    <div class="card-gray">
        <div class="row">
            <div class="col-2">
                <label>Category</label>
                <div>{{listing.category}}</div>
            </div>
            <div class="col-2">
                <label>Current Bid</label>
                <div>${{listing.current_bid}}</div>
            </div>
        </div>
        <div class="border-bottom"></div>
        <div class="row">
            <div class="col-2">
                <label>Description</label>
                <div>{{listing.description}}</div>
            </div>
            <div class="col-2">
                <label>Posted By</label>
                <div>{{listing.author}}</div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="col-3">
        <div class="card-blue p-25 text-center">
            {% if listing.is_active and listing.author != user %}
            <form method="POST">{% csrf_token %}
                <label><b>Place Bid</b></label>
                <br/>
                <div class="place_bid">
                    <span class="dollar-sign">$</span>
                    <input type="number" name="place_bid" id="place_bid_field" min="{{min_bid}}" placeholder="0.00" required/>
                    <input class="button" id="place_bid_button" type="submit" value="Place Bid"/>
                </div>
            </form>
            {% elif listing.is_active == False %}
            <label><b>Place Bid</b></label>
            {{winner}} has won this item!
            {% else %}
            <label><b>Current highest bidder</b></label>
            {{winner}}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="row horizontal-space-evenly">
    <div class="col-2">
        <h4>Comments</h4>
        <div class="card-gray">
            {% for comment in comments %}
            <div class="row center">
                <div class="col-2 card-gray p-25">
                    {{comment.author}} commented: {{comment.comment}}
                </div>
                <form class="vertical-center" action="{% url 'remove_comment' comment.id %}" method="GET">
                    <div>
                        {% if user.is_superuser %}
                        <input name="remove_comment" class="button-delete" type="submit" value="Remove Comment"/>
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
            <form id="listing_comments" action="{% url 'listing' listing.id %}" method="POST">{% csrf_token %}
                <div class="comment_input">
                    <textarea name="comment_input" type="text" placeholder="Comment on this listing!"></textarea>
                    <input class="button" type="submit"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-2">
        <h4>Bids</h4>
        <div class="card-gray">
            {% for bid in bids %}
            <div class="row center">
                <div class="col-2 card-gray p-25">
                    {{bid.author}} placed a bid for ${{bid.bid}}
                </div>
                <form class="vertical-center" action="{% url 'remove_bid' bid.id %}" method="GET">
                    <div>
                        {% if user.is_superuser %}
                        <input name="remove_bid" class="button-delete" type="submit" value="Remove Bid"/>
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row center">
    <div class="col-2">
        <h4>Comments</h4>
        <div class="card-gray">
            {% for comment in comments %}
            <div class="row center">
                <div class="col-2 card-gray p-25">
                    {{ comment.author }} commented: {{ comment.comment }}
                </div>
                <form class="vertical-center" action="{% url 'remove_comment' comment.id %}" method="GET">
                    <div>
                        {% if user.is_superuser %}
                        <input name="remove_comment" class="button-delete" type="submit" value="Remove Comment"/>
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endfor %}
            
            <div id="comments-container">
                <!-- New comments will be added here without refreshing the page -->
            </div>

            <form id="listing_comments_form" onsubmit="addComment(); return false;">
                {% csrf_token %}
                <div class="comment_input">
                    <textarea id="comment_input" name="comment_input" type="text" placeholder="Comment on this listing!"></textarea>
                    <input class="button" type="submit" value="Add Comment"/>
                </div>
            </form>
        </div>
    </div>
<script>
    function addComment() {
        var newComment = document.getElementById('comment_input').value;
        var listingId = '{{listing.id}}';

        fetch('../add_comment/', {
            method:'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                'comment_text': newComment,
                'listing_id': listingId,
            }),
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok');
        })        
        .then(data => {
            var commentsContainer = document.getElementById('comments-container');
            commentsContainer.innerHTML += '<div class="row center"><div class="col-2 card-gray p-25">' + data.author + ' commented: ' + data.comment + '</div></div>';
        })
        .catch(error => console.error('Error:', error));
    }
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}