{% extends "auctions/layout.html" %}

{% block main %}

<h1>Watchlist</h1>
{% for i in watchlist_items %}
    <p>{{ i.auction_listing.id }}</p>
    <h3>{{ i.auction_listing.title }}</h3>
    <p>{{ i.auction_listing.category }}</p>
    <p>{{ i.auction_listing.image }}</p>
    {% if i.auction_listing.active == True %}
        <p>Active</p>
    {% else %}
        <p>Not Active</p>
    {% endif %}
    <form action="{% url 'auctions:remove_from_watchlist' i.auction_listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove</button>
    </form>
{% endfor %}


{% endblock %}
